{{page-title "EmberfestWatchlist"}}

<PaperToolbar>
  <PaperToolbarTools>
    <img src="/emberfest-logo.png" height="40" style="margin-right: 10px" alt="" role="presentation">
    <h2>Ember\{{fest}} 2022 Watch List</h2>
  </PaperToolbarTools>
</PaperToolbar>

{{outlet}}